body {
    margin: 0px;
    text-align: center;
    font-family: 'Varela Round', serif;
    font-size: 2em;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;

}



h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;

}

a:link {
    color: #11999E;
}


.firstdiv {
    background-color: skyblue;
    margin-top: 0px;
    position: relative;
    padding-top: 100px;




}

.SkillsDogPic {
    float: left;


}

.SkillsDogHeader {}

.SkillsDogDescription {}

.introductiondesc {
    font-size: 2.5rem;
}



.MySkillsSection {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;


}




.thirddiv {}

.aspiring {
    text-decoration: underline;
}

.mountain {}

.firstcloud {
    position: absolute;
    right: 300px;
    top: 50px;

}

.secondcloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.profile {
    width: 180px;
    height: 180px;
}

.dog {
    width: 25%;

}

.carvel {
    width: 25%;
}

.contactimage {
    width: 80px;
    height: 80px;
    margin: 0px 20px;

}



.ContactMe {
    position: relative;

}